<div class="row">
    <div id="schedules" class="col-12 col-sm-6">
        <div id="schedule_modal" class="pb-1">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalCenter">テスト日程を登録する</button>
            <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLongTitle">テスト日程の登録</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/schedule_post" method="post" >
                            <div class="modal-body">
                                    <div class="form-group">
                                        <label for="subject">教科名</label>
                                        <input type="text" class="form-control form-control-sm" id="subject" name="subject" placeholder="例：経営戦略">
                                    </div>
                                    <div class="form-group">
                                        <label for="date">日程</label>
                                        <input class="form-control form-control-sm" aria-describedby="dateHelp" type="date" name="date">
                                        <small id="dateHelp" class="form-text text-muted">カレンダーから選択↑↑</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="session">何時限め</label>
                                        <select class="form-control form-control-sm" id="subject" name="session">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="complement">補足</label>
                                        <textarea class="form-control form-control-sm" id="complement" aria-describedby="complementHelp" name="complement" rows="1"></textarea>
                                        <small id="complementHelp" class="form-text text-muted">例）教本p123　キタミ式p123</small>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% @schedules.each do |schedule| %>
            <div class="card border-light mb-3">
                <div class="card-header">
                    <span><%= schedule['date'] %> <%= schedule['session'] %>時限目</span>
                    <% if schedule['date'] >= @today %>
                            <span class="badge badge-pill badge-info" for="badge-info">未実施</span>
                    <% else %>
                            <span class="badge badge-pill badge-secondary">終了</span>
                    <% end %>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= schedule['subject'] %></h5>
                    <p class="card-text"><%= schedule['complement'] %></p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <div>
                        <small class="text-muted">set by <%= schedule['name']%></small>
                    </div>
                    <div>
                        <form action="/schedule_delete/<%= schedule['id'] %>" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <input class="text-secondary" type="submit" value="削除">
                        </form>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <div id="chat" class="col-12 col-sm-6 mt-5">
        <div class="card bg-light p-3">
            <form action="/chat_post" method="post" class="d-flex">
                <input name="content" type="text" class="form-control">
                <button type="submit" class="btn btn-sm btn-primary">Send</button>
            </form>
            <% @chats.each do |chat| %>
            <div class="card col-12 mb-1">
                <div class="card-header">
                    <p class="card-text"><%= chat['content'] %></p>
                </div>
                <div class="mb-3">
                    <img class="profile_img" src="/images/<%= chat['profile_img'] %>" alt="<%= chat['profile_img'] %>">
                    <small class="text-muted"><%= chat['name']%></small>
                    <small class="text-muted"><%= chat['created_at'].slice(0..15) %></small>
                    <!-- <small class="text-muted"> mins ago</small> -->
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>